<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<link rel="stylesheet" type="text/css" href="./css/style.css">


</head>

<body>

	<div class="wrapper">

		<header class="header">
			<h1>Miramar</h1>
		</header><!-- .header-->

		<main class="content" id="app">
			<div>
				<label>上班時間:</label>
				<!-- <input type="time" v-model:value="startTime" /> -->
				<select v-model:value="startTime" @change="countHour()">
					<option v-for="timeObject in timeList" :value="timeObject.id">{{ timeObject.text}}</option>
				</select>
			</div>
			<div>
				<label>下班時間:</label>
				<!-- <input type="text" inputmode="numeric" v-model:value="endTime" /> -->
				<select v-model:value="endTime" @change="countHour()">
					<option v-for="timeObject in timeList" :value="timeObject.id">{{ timeObject.text}}</option>
				</select>
			</div>
			<div>
				<label>扣休時間:</label>
				<!-- <input type="text" inputmode="decimal" v-model:value="breakTime" /><br> -->
				<select v-model:value="breakTime" @change="countHour()">
					<option v-for="breakTimeObject in breakTimeList" :value="breakTimeObject.id">{{ breakTimeObject.text
						}}</option>
				</select>
			</div>
			<!-- <div>
				<input type="button" value="Click me" @click="test()" />
			</div> -->
			<div>時數: {{ total }}</div>
			<div>
				<label>時薪:</label>
				<input type="text" inputmode="numeric" v-model:value="hourMoney" />元
			</div>
			<div>日薪: {{ dayMoney }}元</div>

		</main><!-- .content -->

		<footer class="footer">

		</footer><!-- .footer -->

	</div><!-- .wrapper -->

	<script type="text/javascript" src="./js/workCalculator.js"></script>

</body>

</html>