.header{
    margin-left: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  /* align-items: center; */
  font-size: 25px;
}
.content div{
    margin-left: 10px;
}
.content div button{
    font-size: 20px;
}
input{
    width: 120px;
}
.content .date{
    margin-bottom: 5px;
}
.content .date input{
    width: 250px;
}